/* General styles */
body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  h1 {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h5 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  h6 {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  /* Abilities section */
  .abilities {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Abilities table */
.abilities table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

.abilities table td,
.abilities table th {
    border: 1px solid black;
    padding: 0.1em 0.5em;
    text-align: center;
}

.abilities table th {
    background-color: #ddd
  
  .abilities td {
    font-size: 16px;
  }
  
  @media only screen and (max-width: 700px) {
    .abilities th, .abilities td {
      padding: 5px;
      font-size: 14px;
    }
  }
  